
.ImageCard {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
   
}

.ImageCard img, .ImageCard video {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.ImageCard .front {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 80%;
    width: 100%;
    background-color: rgba(75, 25, 8, 0.8);
    text-wrap: pretty;
    color: white;
    border-top: 5px solid rgb(245, 204, 160);
    font-weight: 600;
    text-align: center;
}

.ImageCard .front p {
    display: none;
    padding: 10px;
}
.ImageCard .front button {
    display: none;
    margin-left: 30%;
    margin-right: 30%;
    background-color: blue;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: -5px 5px 0px rgba(0, 0, 0, 1);
    color: white;
    border: none;
    cursor: pointer;
}

.ImageCard:hover .front {
    -webkit-animation : slideUp 0.6s forwards;
            animation : slideUp 0.6s forwards;
}

.ImageCard:hover .front p, .ImageCard:hover .front button {
    display: block;
}


.InfoCard {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 5px;
    border-image: linear-gradient(rgb(228, 143, 69), rgb(153, 77, 28)) 5 / 5px;
    width: 550px;
}

.InfoCard h3 {
    font-size: 1.5em;
    padding-left: 10px;
}

.InfoCard p {
    font-size: 1.1em;
    padding-left: 20px;
}

@-webkit-keyframes slideUp { 
    from {
        top: 80%;
    }
    to {
        top: 0;
    }
}

@keyframes slideUp {
    from {
        top: 80%;
    }
    to {
        top: 0;
    }
}

@media screen and (max-width: 850px) {
    .InfoCard {
        width: 80%;
        text-align: center;
    }

    .InfoCard h3, .InfoCard p {
        padding-left: 0px;
        padding: 10px;
    }

    .ImageCard .front {
        top: 20%;
    }

    .ImageCard:hover .front {
        animation: none;
    }

    .ImageCard .front p, .ImageCard .front button {
        display: block;
    }
}