.Frame {
    height: auto;
    width: 50vh;
    position: relative;
    overflow: visible;
}

.Frame img {
    object-fit: cover;
    position: absolute;
    width: 90%;
    height: 98%;
    z-index: 1;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .7);
}

.framestyle {
    transform: translate(5%, 5%);
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 850px) {
    .Frame {
        display: flex;
        align-items: center;
        width: 30vh;
    }

    
}