.NavBar ul{
    overflow: hidden;
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
    list-style: none;
    margin: 0;
}

.NavBar li {
    display: inline;
    padding: 0 10px 0 10px;
}

.NavBar li a {
    text-decoration: none;
}

.NavBar li a:hover {
    filter: brightness(1.5);
}

@media screen and (max-width: 600px) {
}