.NavBar ul{
    overflow: hidden;
    padding:  3vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8em;
    list-style: none;
    margin: 0;
}

.NavBar li {
    display: inline;
    padding: 1vh 5vh 1vh 5vh;
}

.NavBar li:not(:first-child) {
    border-right: 10px double rgb(114, 71, 22);
}
.NavBar li:not(:last-child) {
    border-left: 10px double rgb(114, 71, 22);
}

.NavBar li a {
    text-decoration: none;
    color:rgb(114, 71, 22);
    font-family: 'Poppins', sans-serif;
    
}

.NavBar li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px; /* Adjust as needed */
    height: 2px;
    width: 0;
    background: rgba(114, 71, 22, 0.7);
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

.NavBar li a:hover::after {
    width: 100%;
}

.NavBar li a:hover {
    filter: brightness(1.5);
}
  

@media screen and (max-width: 600px) {
}