.Toast {
    display: inline-block;
    text-wrap: nowrap;
    top: 0;
    right: 0;
    color: #F8EDE3;
    z-index: 999;
    word-break: normal !important;
}

.Toast .contact-toast {
    position:fixed;
    background-color:  rgb(107, 36, 12);
    padding: 10px;
    border-radius: 5px;
    width: 80% !important;
}

#contact-toast {
    background-color: #F8EDE3;
}

.Toastify__toast-body > div:last-child {
    word-break: normal !important;
}

#close-toast {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
}