html, body {
    background-color: rgb(22, 22, 22);
    color: #b68537;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* 
*-------------------------------------
*               HEADER 
*-------------------------------------
*/

#header {
    display: flex;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}

#header h1 {
    margin: 0;
    font-family: 'Caveat', cursive;
    font-size: 1.3em;
}

@media screen and (max-width: 600px) {
    #header {
        justify-content: center;
        align-items: center;
    }
}


/* 
*-------------------------------------
*            NAVIGATION 
*-------------------------------------
*/
#nav {
    overflow: hidden;
    padding: 20px;
    text-align: left;
    font-size: 1.1em;
    list-style: none;
    margin: 0;
}

#nav li {
    display: inline;
    padding: 0 10px 0 10px;
}

#nav li a {
    color: #b68537;
    text-decoration: none;
}

#nav li a:hover {
    color: #ffb338;
}

@media screen and (max-width: 600px) {
    #nav {
        display: none;
    }
}
/*
*-------------------------------------
*             CONTENT
*-------------------------------------
*/

#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    z-index: 1;
}
#about-me p {
    display: block;
    padding: 0 2rem 0 2rem;
    line-height: 2rem;
    z-index: 1;
    font-weight: 600;
}

.project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.project-box {
    display: flex;
   
    flex-direction: column;
    align-items: center;
    padding: 20px 5px 20px 5px;
    margin: 20px 5px 20px 5px;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.5);
}

.project-box .title, .date{
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.project-box span {
    text-align: center;
}

.project-box img, video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-box a {
    color: #b68537;
    text-decoration: none;
    margin: 20px;
    border: 1px solid #b68537;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.project-box a:hover {
    color: #ffb338;
    border: 1px solid #ffb338;
}

.skill-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

video {
    position: relative;
    right: 0; 
    left: 0;
    min-height: auto;
    width: 100%; 
    height: 100%; 
    background-size:cover;
    align-items: center;
}

/*
*-------------------------------------
*             CONTACT
*-------------------------------------
*/

#contact {
    background-color: black;
    padding: 2rem 0rem 2rem 0rem;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
   
    border-radius: 5px;
}

.contact-info a {
    color: #b68537;
    text-decoration: none;
    margin: 10px;
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    width: 50%;
}

.social-container img {
    width: 50px;
    height: auto;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

.section-title {
    font-size: 1.6em;
    font-weight: 600;
    margin: 10px;
    text-decoration: underline;
    text-align: center;
}

.contact-title {
    text-align: left;
}

/* Set media query to change about me display for larger screens*/
@media screen and (min-width: 600px) {
    #about-me {
        flex-direction: row;
        padding: 5rem 4rem 5rem 7rem;
    }
    #about-me p{
        text-align: right;
        padding: 0 2rem 0 2rem;
        line-height: 2rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 15px;
    }
    
    .skill-box img {
        width: 100px;
        height: auto;
    }

    .project-box img {
        width: 100%;
        height: auto;
    }

    #video-background {
        display: block;
        position: absolute;
        right: 0; 
        left: 0;
        min-height: auto;
        width: 100%; 
        height: 100%; 
        background-size:cover;
        align-items: center;
    }
}

/* Set media query to change about me display for smaller screens*/
@media screen and (max-width: 600px) {
    #about-me {
        flex-direction: column;
        padding: 5rem 0rem 5rem 0rem;
        background-color: inherit;
    }
    #about-me p{
        text-align: center;
        padding: 0 1rem 0 1rem;
        line-height: 1.8rem;
    }
    .profile-pic {
        width: 180px;
        height: 180px;
    }
    .skill-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .skill-box img{
        width: 100px;
        height: auto;
    }

    #video-background {
        display: none;
    }

    .project-box {
        width: 100%;
    }

    .contact-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-info {
        text-align: center;
    }

    .contact-title {
        text-align: center;
    }

    .social-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}


