.NavBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 5;

    padding-top: 80px;
    background-color: #F8EDE3;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-menu{
    list-style: none;
    margin: 0;
    padding:  20px 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.NavBar li {
    display: inline;
    padding: 1vh 5vh 1vh 5vh;
    margin: 0px 2vw;
    border-right: 10px groove rgb(114, 71, 22);
    border-left: 10px groove rgb(114, 71, 22);
    border-radius:  10px;
}


.NavBar li a {
    position: relative;
    text-decoration: none;
    color:rgb(107, 36, 12);
    font-family: 'Poppins', sans-serif;
}

.NavBar li a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 2px;
    width: 0;
    background-image: -o-radial-gradient(circle,rgb(228, 143, 69), rgb(153, 77, 28));
    background-image: radial-gradient(circle,rgb(228, 143, 69), rgb(153, 77, 28));
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.NavBar li a:hover::after {
    width: 100%;
}

.NavBar li a:hover {
    -webkit-filter: brightness(1.2);
            filter: brightness(1.2);
}

/*
*-----------------------------------------------------------
*
*                    BURGER MENU
*
*-----------------------------------------------------------
*/
.burger{
    display: none;
    margin: 3vh;
    width: 38px;
}

.bar {
    display: block;
    width: 100%;
    height: 4px;
    margin: 8px auto;
    border-radius: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transition-delay: 100ms;
         -o-transition-delay: 100ms;
            transition-delay: 100ms;
    background-color: rgb(114, 71, 22);
}

@media only screen and (max-width: 768px) {

    .burger {
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .NavBar li {
        border: none;
    }

    .nav-menu li {
        opacity: 0;
        pointer-events: none;
        margin: 2.5rem 0;
        -webkit-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
        transition: all 600ms ease-in-out;
        -webkit-transition-delay: 100ms;
             -o-transition-delay: 100ms;
                transition-delay: 100ms;
    }

    .nav-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 0vh;
        padding: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        z-index: 999;
        -webkit-transition: all 600ms ease-in-out;
        -o-transition: all 600ms ease-in-out;
        transition: all 600ms ease-in-out;
        font-size: 1.5em;
    }
    .nav-menu.active {
        height: 60vh;
    }

    .nav-menu.active li {
        opacity: 1;
        pointer-events: auto;
    }

    .burger.active .bar:nth-child(1), .burger.active .bar:nth-child(3) {
        opacity: 0;
    }

}